Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/listener/AlertEventListener.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/listener/AlertEventListener.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/listener/InventoryEventListener.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/listener/InventoryEventListener.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/listener/LocateEventListener.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/listener/LocateEventListener.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/listener/PositionEventListener.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/listener/PositionEventListener.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/model/WebSocketMessage.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/model/WebSocketMessage.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/resources/application-dev.yml
  src/backend/websocket-service/src/main/resources/application-dev.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/resources/application-prod.yml
  src/backend/websocket-service/src/main/resources/application-prod.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/resources/application-staging.yml
  src/backend/websocket-service/src/main/resources/application-staging.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/resources/application.yml
  src/backend/websocket-service/src/main/resources/application.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/test/java/com/ims/websocket/WebSocketServiceApplicationTests.java
  src/backend/websocket-service/src/test/java/com/ims/websocket/WebSocketServiceApplicationTests.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/Dockerfile
  src/backend/workflow-service/Dockerfile
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/build.gradle
  src/backend/workflow-service/build.gradle
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/WorkflowServiceApplication.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/WorkflowServiceApplication.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/config/CamundaConfig.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/config/CamundaConfig.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/config/KafkaConfig.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/config/KafkaConfig.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/config/SecurityConfig.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/controller/LocateController.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/controller/LocateController.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/controller/ShortSellController.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/controller/ShortSellController.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/delegate/LocateApprovalDelegate.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/delegate/LocateApprovalDelegate.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/delegate/ShortSellApprovalDelegate.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/delegate/ShortSellApprovalDelegate.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/exception/WorkflowException.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/exception/WorkflowException.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/listener/InventoryEventListener.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/listener/InventoryEventListener.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/listener/LimitEventListener.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/listener/LimitEventListener.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateApproval.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateApproval.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateRejection.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateRejection.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateRequest.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/model/LocateRequest.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/model/OrderValidation.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/model/OrderValidation.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/model/WorkflowRule.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/model/WorkflowRule.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/publisher/WorkflowEventPublisher.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/publisher/WorkflowEventPublisher.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/repository/LocateRepository.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/repository/LocateRepository.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/repository/OrderValidationRepository.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/repository/OrderValidationRepository.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/repository/WorkflowRuleRepository.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/repository/WorkflowRuleRepository.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/service/LocateService.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/service/LocateService.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/service/ShortSellService.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/service/ShortSellService.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/java/com/ims/workflow/service/WorkflowRuleService.java
  src/backend/workflow-service/src/main/java/com/ims/workflow/service/WorkflowRuleService.java
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/resources/application-dev.yml
  src/backend/workflow-service/src/main/resources/application-dev.yml
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/resources/application-prod.yml
  src/backend/workflow-service/src/main/resources/application-prod.yml
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/resources/application-staging.yml
  src/backend/workflow-service/src/main/resources/application-staging.yml
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/main/resources/application.yml
  src/backend/workflow-service/src/main/resources/application.yml
Owners: @ims-workflow-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/workflow-service/src/test/java/com/ims/workflow/WorkflowServiceApplicationTests.java
  src/backend/workflow-service/src/test/java/com/ims/workflow/WorkflowServiceApplicationTests.java
Owners: @ims-workflow-team, @ims-backend-core
