Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/CounterpartyIdentifier.java
  src/backend/common-lib/src/main/java/com/ims/common/model/CounterpartyIdentifier.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/IndexComposition.java
  src/backend/common-lib/src/main/java/com/ims/common/model/IndexComposition.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/Inventory.java
  src/backend/common-lib/src/main/java/com/ims/common/model/Inventory.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/Position.java
  src/backend/common-lib/src/main/java/com/ims/common/model/Position.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/Price.java
  src/backend/common-lib/src/main/java/com/ims/common/model/Price.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/Security.java
  src/backend/common-lib/src/main/java/com/ims/common/model/Security.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/model/SecurityIdentifier.java
  src/backend/common-lib/src/main/java/com/ims/common/model/SecurityIdentifier.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/util/CorrelationIdUtil.java
  src/backend/common-lib/src/main/java/com/ims/common/util/CorrelationIdUtil.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/util/DateUtil.java
  src/backend/common-lib/src/main/java/com/ims/common/util/DateUtil.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/main/java/com/ims/common/util/SecurityIdMappingUtil.java
  src/backend/common-lib/src/main/java/com/ims/common/util/SecurityIdMappingUtil.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/common-lib/src/test/java/com/ims/common/util/DateUtilTest.java
  src/backend/common-lib/src/test/java/com/ims/common/util/DateUtilTest.java
Owners: @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/Dockerfile
  src/backend/data-ingestion-service/Dockerfile
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/build.gradle
  src/backend/data-ingestion-service/build.gradle
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/DataIngestionServiceApplication.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/DataIngestionServiceApplication.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/BloombergAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/BloombergAdapter.java
Owners: @ims-performance-team, @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/MarkITAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/MarkITAdapter.java
Owners: @ims-performance-team, @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/RIMESAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/RIMESAdapter.java
Owners: @ims-performance-team, @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ReutersAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ReutersAdapter.java
Owners: @ims-performance-team, @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/UltumusAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/UltumusAdapter.java
Owners: @ims-performance-team, @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/config/KafkaConfig.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/config/KafkaConfig.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/config/SecurityConfig.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/controller/IngestionController.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/controller/IngestionController.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/exception/IngestionException.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/exception/IngestionException.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/ContractData.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/ContractData.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/MarketData.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/MarketData.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/SecurityReferenceData.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/SecurityReferenceData.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/TradeData.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/model/TradeData.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/ContractDataRepository.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/ContractDataRepository.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/MarketDataRepository.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/MarketDataRepository.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/ReferenceDataRepository.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/ReferenceDataRepository.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/TradeDataRepository.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/TradeDataRepository.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/ContractDataService.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/ContractDataService.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/DataMappingService.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/DataMappingService.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/MarketDataService.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/MarketDataService.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/ReferenceDataService.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/ReferenceDataService.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/TradeDataService.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/service/TradeDataService.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/resources/application-dev.yml
  src/backend/data-ingestion-service/src/main/resources/application-dev.yml
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/resources/application-prod.yml
  src/backend/data-ingestion-service/src/main/resources/application-prod.yml
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/resources/application-staging.yml
  src/backend/data-ingestion-service/src/main/resources/application-staging.yml
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/main/resources/application.yml
  src/backend/data-ingestion-service/src/main/resources/application.yml
Owners: @ims-data-team, @ims-backend-core
