Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/database.tf
  infrastructure/terraform/azure/database.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/main.tf
  infrastructure/terraform/azure/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/monitoring.tf
  infrastructure/terraform/azure/monitoring.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/networking.tf
  infrastructure/terraform/azure/networking.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/outputs.tf
  infrastructure/terraform/azure/outputs.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/security.tf
  infrastructure/terraform/azure/security.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/storage.tf
  infrastructure/terraform/azure/storage.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/azure/variables.tf
  infrastructure/terraform/azure/variables.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/modules/messaging/main.tf
  infrastructure/terraform/modules/messaging/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/.gitignore
  src/backend/.gitignore
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/README.md
  src/backend/README.md
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/build.gradle
  src/backend/build.gradle
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/checkstyle.xml
  src/backend/checkstyle.xml
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/gradle.properties
  src/backend/gradle.properties
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/gradlew
  src/backend/gradlew
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/gradlew.bat
  src/backend/gradlew.bat
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/pmd-ruleset.xml
  src/backend/pmd-ruleset.xml
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/settings.gradle
  src/backend/settings.gradle
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/spotbugs-exclude.xml
  src/backend/spotbugs-exclude.xml
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/build.gradle
  src/backend/api-gateway/build.gradle
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/ApiGatewayApplication.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/ApiGatewayApplication.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/config/RouteConfig.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/config/RouteConfig.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/config/SecurityConfig.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/filter/AuthenticationFilter.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/filter/AuthenticationFilter.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/filter/CorrelationIdFilter.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/filter/CorrelationIdFilter.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/filter/LoggingFilter.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/filter/LoggingFilter.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/filter/RateLimitingFilter.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/filter/RateLimitingFilter.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/java/com/ims/gateway/handler/ErrorHandler.java
  src/backend/api-gateway/src/main/java/com/ims/gateway/handler/ErrorHandler.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/resources/application-dev.yml
  src/backend/api-gateway/src/main/resources/application-dev.yml
Owners: @ims-api-team, @ims-backend-core
