Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/test/java/com/ims/ingestion/DataIngestionServiceApplicationTests.java
  src/backend/data-ingestion-service/src/test/java/com/ims/ingestion/DataIngestionServiceApplicationTests.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/test/java/com/ims/ingestion/service/ReferenceDataServiceTest.java
  src/backend/data-ingestion-service/src/test/java/com/ims/ingestion/service/ReferenceDataServiceTest.java
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/data-ingestion-service/src/test/resources/application-test.yml
  src/backend/data-ingestion-service/src/test/resources/application-test.yml
Owners: @ims-data-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/gradle/wrapper/gradle-wrapper.properties
  src/backend/gradle/wrapper/gradle-wrapper.properties
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/base/configmap.yaml
  src/backend/kubernetes/base/configmap.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/base/deployment.yaml
  src/backend/kubernetes/base/deployment.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/base/kustomization.yaml
  src/backend/kubernetes/base/kustomization.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/base/secret.yaml
  src/backend/kubernetes/base/secret.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/base/service.yaml
  src/backend/kubernetes/base/service.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/overlays/dev/kustomization.yaml
  src/backend/kubernetes/overlays/dev/kustomization.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/overlays/production/kustomization.yaml
  src/backend/kubernetes/overlays/production/kustomization.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/kubernetes/overlays/staging/kustomization.yaml
  src/backend/kubernetes/overlays/staging/kustomization.yaml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/Dockerfile
  src/backend/monitoring-service/Dockerfile
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/build.gradle
  src/backend/monitoring-service/build.gradle
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/MonitoringServiceApplication.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/MonitoringServiceApplication.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/config/PrometheusConfig.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/config/PrometheusConfig.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/config/SecurityConfig.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/controller/HealthController.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/controller/HealthController.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/controller/MetricsController.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/controller/MetricsController.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/Alert.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/Alert.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/HealthStatus.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/HealthStatus.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/ServiceStatus.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/model/ServiceStatus.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/AlertService.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/AlertService.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/HealthCheckService.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/HealthCheckService.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/MetricsService.java
  src/backend/monitoring-service/src/main/java/com/ims/monitoring/service/MetricsService.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/resources/application-dev.yml
  src/backend/monitoring-service/src/main/resources/application-dev.yml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/resources/application-prod.yml
  src/backend/monitoring-service/src/main/resources/application-prod.yml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/resources/application-staging.yml
  src/backend/monitoring-service/src/main/resources/application-staging.yml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/main/resources/application.yml
  src/backend/monitoring-service/src/main/resources/application.yml
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/monitoring-service/src/test/java/com/ims/monitoring/MonitoringServiceApplicationTests.java
  src/backend/monitoring-service/src/test/java/com/ims/monitoring/MonitoringServiceApplicationTests.java
Owners: @ims-devops, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/Dockerfile
  src/backend/websocket-service/Dockerfile
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/build.gradle
  src/backend/websocket-service/build.gradle
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/WebSocketServiceApplication.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/WebSocketServiceApplication.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/config/KafkaConfig.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/config/KafkaConfig.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/config/SecurityConfig.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/config/WebSocketConfig.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/config/WebSocketConfig.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/handler/AlertWebSocketHandler.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/handler/AlertWebSocketHandler.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/handler/InventoryWebSocketHandler.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/handler/InventoryWebSocketHandler.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/handler/LocateWebSocketHandler.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/handler/LocateWebSocketHandler.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/websocket-service/src/main/java/com/ims/websocket/handler/PositionWebSocketHandler.java
  src/backend/websocket-service/src/main/java/com/ims/websocket/handler/PositionWebSocketHandler.java
Owners: @ims-api-team, @ims-backend-core

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team
