Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/resources/application-prod.yml
  src/backend/api-gateway/src/main/resources/application-prod.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/resources/application-staging.yml
  src/backend/api-gateway/src/main/resources/application-staging.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/main/resources/application.yml
  src/backend/api-gateway/src/main/resources/application.yml
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/api-gateway/src/test/java/com/ims/gateway/ApiGatewayApplicationTests.java
  src/backend/api-gateway/src/test/java/com/ims/gateway/ApiGatewayApplicationTests.java
Owners: @ims-api-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/build.gradle
  src/backend/auth-service/build.gradle
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/AuthServiceApplication.java
  src/backend/auth-service/src/main/java/com/ims/auth/AuthServiceApplication.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/config/OAuthConfig.java
  src/backend/auth-service/src/main/java/com/ims/auth/config/OAuthConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/config/SecurityConfig.java
  src/backend/auth-service/src/main/java/com/ims/auth/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/controller/AuthController.java
  src/backend/auth-service/src/main/java/com/ims/auth/controller/AuthController.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/model/Permission.java
  src/backend/auth-service/src/main/java/com/ims/auth/model/Permission.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/model/Role.java
  src/backend/auth-service/src/main/java/com/ims/auth/model/Role.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/model/Token.java
  src/backend/auth-service/src/main/java/com/ims/auth/model/Token.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/model/User.java
  src/backend/auth-service/src/main/java/com/ims/auth/model/User.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/repository/PermissionRepository.java
  src/backend/auth-service/src/main/java/com/ims/auth/repository/PermissionRepository.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/repository/RoleRepository.java
  src/backend/auth-service/src/main/java/com/ims/auth/repository/RoleRepository.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/repository/TokenRepository.java
  src/backend/auth-service/src/main/java/com/ims/auth/repository/TokenRepository.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/repository/UserRepository.java
  src/backend/auth-service/src/main/java/com/ims/auth/repository/UserRepository.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/service/RoleService.java
  src/backend/auth-service/src/main/java/com/ims/auth/service/RoleService.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/service/TokenService.java
  src/backend/auth-service/src/main/java/com/ims/auth/service/TokenService.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/java/com/ims/auth/service/UserService.java
  src/backend/auth-service/src/main/java/com/ims/auth/service/UserService.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/resources/application-dev.yml
  src/backend/auth-service/src/main/resources/application-dev.yml
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/resources/application-prod.yml
  src/backend/auth-service/src/main/resources/application-prod.yml
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/resources/application-staging.yml
  src/backend/auth-service/src/main/resources/application-staging.yml
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/main/resources/application.yml
  src/backend/auth-service/src/main/resources/application.yml
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/auth-service/src/test/java/com/ims/auth/AuthServiceApplicationTests.java
  src/backend/auth-service/src/test/java/com/ims/auth/AuthServiceApplicationTests.java
Owners: @ims-security-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/Dockerfile
  src/backend/calculation-service/Dockerfile
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/build.gradle
  src/backend/calculation-service/build.gradle
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/CalculationServiceApplication.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/CalculationServiceApplication.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/config/HazelcastConfig.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/config/HazelcastConfig.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/config/KafkaConfig.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/config/KafkaConfig.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/config/SecurityConfig.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/config/SecurityConfig.java
Owners: @ims-security-team

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/controller/CalculationController.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/controller/CalculationController.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/InventoryEngine.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/engine/InventoryEngine.java
Owners: @ims-performance-team, @ims-calculation-team

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/LimitEngine.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/engine/LimitEngine.java
Owners: @ims-performance-team, @ims-calculation-team

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/PositionEngine.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/engine/PositionEngine.java
Owners: @ims-performance-team, @ims-calculation-team

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/exception/CalculationException.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/exception/CalculationException.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/listener/MarketDataEventListener.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/listener/MarketDataEventListener.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/listener/PositionEventListener.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/listener/PositionEventListener.java
Owners: @ims-calculation-team, @ims-backend-core

Add public-samples/inventory-management-system-rdybxi/src/backend/calculation-service/src/main/java/com/ims/calculation/model/AggregationUnitLimit.java
  src/backend/calculation-service/src/main/java/com/ims/calculation/model/AggregationUnitLimit.java
Owners: @ims-calculation-team, @ims-backend-core

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team
