Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/web/src/utils/permissions.ts
  src/web/src/utils/permissions.ts
Owners: @ims-frontend-team

Add public-samples/inventory-management-system-rdybxi/src/web/src/utils/security.ts
  src/web/src/utils/security.ts
Owners: @ims-frontend-team

Add public-samples/inventory-management-system-rdybxi/src/web/src/utils/sessionStorage.ts
  src/web/src/utils/sessionStorage.ts
Owners: @ims-frontend-team

Add public-samples/inventory-management-system-rdybxi/src/web/src/utils/validation.ts
  src/web/src/utils/validation.ts
Owners: @ims-frontend-team

Fixed most of the Gradle errors but now need to find sources for some of the Reuters and Bloomberg packages. Not quite buildable yet.
  src/backend/api-gateway/build.gradle
  src/backend/auth-service/build.gradle
  src/backend/build.gradle
  src/backend/calculation-service/build.gradle
  src/backend/common-lib/build.gradle
  src/backend/data-ingestion-service/build.gradle
  src/backend/gradle/wrapper/gradle-wrapper.properties
  src/backend/monitoring-service/build.gradle
  src/backend/settings.gradle
  src/backend/websocket-service/build.gradle
  src/backend/workflow-service/build.gradle
Owners: @ims-api-team, @ims-backend-core, @ims-security-team, @ims-admin, @ims-calculation-team, @ims-data-team, @ims-devops, @ims-workflow-team

Next batch of changes trying to get the code to build.
  .gitignore
  lib/blpapi-3.25.2-1.jar
  src/backend/auth-service/build.gradle
  src/backend/common-lib/src/main/java/com/ims/common/model/MarketData.java
  src/backend/data-ingestion-service/build.gradle
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/BloombergAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/MarkITAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ReutersAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/UltumusAdapter.java
  src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/repository/MarketDataRepository.java
  src/backend/websocket-service/build.gradle
Owners: @ims-admin, @ims-security-team, @ims-backend-core, @ims-data-team, @ims-performance-team, @ims-api-team

Update Gradle configs and dependencies
  src/backend/build.gradle
  src/backend/common-lib/build.gradle
  src/backend/gradle.properties
  src/backend/gradle/wrapper/gradle-wrapper.jar
  src/backend/gradle/wrapper/gradle-wrapper.properties
  src/backend/gradlew
  src/backend/gradlew.bat
  src/backend/settings.gradle
  src/backend/websocket-service/build.gradle
  src/backend/workflow-service/build.gradle
Owners: @ims-admin, @ims-backend-core, @ims-api-team, @ims-workflow-team
