Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

Add public-samples/inventory-management-system-rdybxi/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/dependabot.yml
  .github/dependabot.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/stale.yml
  .github/stale.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/performance-test.yml
  .github/workflows/performance-test.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @ims-admin

Add public-samples/inventory-management-system-rdybxi/infrastructure/ci/argocd/applications/dev.yaml
  infrastructure/ci/argocd/applications/dev.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/ci/argocd/applications/prod.yaml
  infrastructure/ci/argocd/applications/prod.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/ci/argocd/applications/staging.yaml
  infrastructure/ci/argocd/applications/staging.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/ci/jenkins/jenkins-values.yaml
  infrastructure/ci/jenkins/jenkins-values.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/postgresql/V1__initial_schema.sql
  infrastructure/database/migrations/postgresql/V1__initial_schema.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/postgresql/V2__reference_data_tables.sql
  infrastructure/database/migrations/postgresql/V2__reference_data_tables.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/postgresql/V3__position_tables.sql
  infrastructure/database/migrations/postgresql/V3__position_tables.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/postgresql/V4__inventory_tables.sql
  infrastructure/database/migrations/postgresql/V4__inventory_tables.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/postgresql/V5__workflow_tables.sql
  infrastructure/database/migrations/postgresql/V5__workflow_tables.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/timescaledb/V1__initial_schema.sql
  infrastructure/database/migrations/timescaledb/V1__initial_schema.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/database/migrations/timescaledb/V2__hypertables.sql
  infrastructure/database/migrations/timescaledb/V2__hypertables.sql
Owners: @ims-data-team, @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/Chart.yaml
  infrastructure/kubernetes/helm/ims/Chart.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/values-dev.yaml
  infrastructure/kubernetes/helm/ims/values-dev.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/values-prod.yaml
  infrastructure/kubernetes/helm/ims/values-prod.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/values-staging.yaml
  infrastructure/kubernetes/helm/ims/values-staging.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/values.yaml
  infrastructure/kubernetes/helm/ims/values.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/configmap.yaml
  infrastructure/kubernetes/helm/ims/templates/configmap.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/deployment.yaml
  infrastructure/kubernetes/helm/ims/templates/deployment.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/hpa.yaml
  infrastructure/kubernetes/helm/ims/templates/hpa.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/ingress.yaml
  infrastructure/kubernetes/helm/ims/templates/ingress.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/pdb.yaml
  infrastructure/kubernetes/helm/ims/templates/pdb.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/secret.yaml
  infrastructure/kubernetes/helm/ims/templates/secret.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/service.yaml
  infrastructure/kubernetes/helm/ims/templates/service.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/helm/ims/templates/serviceaccount.yaml
  infrastructure/kubernetes/helm/ims/templates/serviceaccount.yaml
Owners: @ims-devops

Add public-samples/inventory-management-system-rdybxi/infrastructure/kubernetes/istio/authorizationpolicy.yaml
  infrastructure/kubernetes/istio/authorizationpolicy.yaml
Owners: @ims-devops

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team
