Repository galatea-associates/inventory-management-system-rdybxi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ims-admin, @ims-backend-core, @ims-data-team, @ims-calculation-team, @ims-workflow-team, @ims-api-team, @ims-devops, @ims-security-team, @ims-frontend-team, @ims-qa-team, @ims-performance-team, @ims-docs

.github/CODEOWNERS:

# When someone opens a pull request that modifies code owned by a team or person
# they will automatically be requested for review

# Default owners for everything in the repo
* @ims-admin

# Backend services
/src/backend/common-lib/ @ims-backend-core
/src/backend/data-ingestion-service/ @ims-data-team @ims-backend-core
/src/backend/calculation-service/ @ims-calculation-team @ims-backend-core
/src/backend/workflow-service/ @ims-workflow-team @ims-backend-core
/src/backend/api-gateway/ @ims-api-team @ims-backend-core
/src/backend/websocket-service/ @ims-api-team @ims-backend-core
/src/backend/monitoring-service/ @ims-devops @ims-backend-core
/src/backend/auth-service/ @ims-security-team @ims-backend-core

# Frontend code
/src/web/ @ims-frontend-team

# Test code
/src/test/ @ims-qa-team
/src/test/performance/ @ims-performance-team @ims-qa-team
/src/test/security/ @ims-security-team @ims-qa-team

# Infrastructure code
/infrastructure/ @ims-devops
/infrastructure/security/ @ims-security-team @ims-devops
/infrastructure/database/ @ims-data-team @ims-devops

# CI/CD configuration
/.github/ @ims-devops

# Documentation
/README.md @ims-docs
/docs/ @ims-docs

# Critical configuration files
/src/backend/kubernetes/ @ims-devops @ims-backend-core
/src/backend/docker-compose.yml @ims-devops @ims-backend-core
/src/web/docker-compose.yml @ims-devops @ims-frontend-team

# Security-sensitive areas
/src/backend/*/src/main/java/com/ims/*/config/SecurityConfig.java @ims-security-team
/src/backend/auth-service/src/main/java/com/ims/auth/config/ @ims-security-team

# Performance-critical components
/src/backend/calculation-service/src/main/java/com/ims/calculation/engine/ @ims-performance-team @ims-calculation-team
/src/backend/data-ingestion-service/src/main/java/com/ims/ingestion/adapter/ @ims-performance-team @ims-data-team

Add public-samples/inventory-management-system-rdybxi/src/test/load/scripts/analyze-results.sh
  src/test/load/scripts/analyze-results.sh
Owners: @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/load/scripts/run-load-tests.sh
  src/test/load/scripts/run-load-tests.sh
Owners: @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/monitoring/grafana/test-dashboards.json
  src/test/monitoring/grafana/test-dashboards.json
Owners: @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/monitoring/prometheus/test-rules.yml
  src/test/monitoring/prometheus/test-rules.yml
Owners: @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/monitoring/scripts/validate-monitoring.sh
  src/test/monitoring/scripts/validate-monitoring.sh
Owners: @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/README.md
  src/test/performance/README.md
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/resources/bodies/locateRequest.json
  src/test/performance/gatling/resources/bodies/locateRequest.json
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/resources/bodies/shortSellRequest.json
  src/test/performance/gatling/resources/bodies/shortSellRequest.json
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/resources/data/testData.csv
  src/test/performance/gatling/resources/data/testData.csv
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/ApiLoadSimulation.scala
  src/test/performance/gatling/simulations/ApiLoadSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/DataIngestionSimulation.scala
  src/test/performance/gatling/simulations/DataIngestionSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/InventoryCalculationSimulation.scala
  src/test/performance/gatling/simulations/InventoryCalculationSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/LocateApprovalSimulation.scala
  src/test/performance/gatling/simulations/LocateApprovalSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/PositionCalculationSimulation.scala
  src/test/performance/gatling/simulations/PositionCalculationSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/gatling/simulations/ShortSellValidationSimulation.scala
  src/test/performance/gatling/simulations/ShortSellValidationSimulation.scala
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/jmeter/data/testData.csv
  src/test/performance/jmeter/data/testData.csv
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/jmeter/scripts/run-tests.sh
  src/test/performance/jmeter/scripts/run-tests.sh
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/config.js
  src/test/performance/k6/config.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/data/testData.js
  src/test/performance/k6/data/testData.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/lib/checks.js
  src/test/performance/k6/lib/checks.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/lib/helpers.js
  src/test/performance/k6/lib/helpers.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/apiLoad.js
  src/test/performance/k6/scenarios/apiLoad.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/dataIngestion.js
  src/test/performance/k6/scenarios/dataIngestion.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/inventoryCalculation.js
  src/test/performance/k6/scenarios/inventoryCalculation.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/locateApproval.js
  src/test/performance/k6/scenarios/locateApproval.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/positionCalculation.js
  src/test/performance/k6/scenarios/positionCalculation.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/performance/k6/scenarios/shortSellValidation.js
  src/test/performance/k6/scenarios/shortSellValidation.js
Owners: @ims-performance-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/README.md
  src/test/security/README.md
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/owasp-dependency-check/run.sh
  src/test/security/owasp-dependency-check/run.sh
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/owasp-dependency-check/suppressions.xml
  src/test/security/owasp-dependency-check/suppressions.xml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/penetration/api-tests.yaml
  src/test/security/penetration/api-tests.yaml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/penetration/auth-tests.yaml
  src/test/security/penetration/auth-tests.yaml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/penetration/web-tests.yaml
  src/test/security/penetration/web-tests.yaml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/penetration/postman-collections/api-tests.json
  src/test/security/penetration/postman-collections/api-tests.json
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/penetration/postman-collections/auth-tests.json
  src/test/security/penetration/postman-collections/auth-tests.json
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/zap/api-scan.yaml
  src/test/security/zap/api-scan.yaml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/zap/rules.conf
  src/test/security/zap/rules.conf
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/test/security/zap/web-scan.yaml
  src/test/security/zap/web-scan.yaml
Owners: @ims-security-team, @ims-qa-team

Add public-samples/inventory-management-system-rdybxi/src/web/.dockerignore
  src/web/.dockerignore
Owners: @ims-frontend-team

Add public-samples/inventory-management-system-rdybxi/src/web/.env
  src/web/.env
Owners: @ims-frontend-team
